<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <lbd-chart
                  [title]="'Top Skills'"
                  [subtitle]="'(Not all Programming languages Included)'"
                  [chartType]="activityChartType"
                  [chartData]="activityChartData"
                  [chartOptions]="activityChartOptions"
                  [chartResponsive]="activityChartResponsive"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-check'"
                  [footerText]="'Data information certified'">
                </lbd-chart>
            </div>
            <div class="col-md-4">
                <lbd-chart
                  [title]="'Top Skills'"
                  [subtitle]="'I love music (I am a drummer) so it is 50/50'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="emailChartType"
                  [chartData]="emailChartData"
                  [legendItems]="emailChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'skills updated 2 days ago'">
                </lbd-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Last 3 Companies</h4>
                        <p class="category">Las 3 Companies where I worked</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData1.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Programming Languages</h4>
                        <p class="category">How much I know from 1 to 10</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>